/* 
  ctrl + slash - коментар
  ctrl + F пошук/заміна
  ctrl + D однотипні елементи
  ctrl + shift + p  - wrap 
 */

:root {
  /*Fonts*/
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /*Color*/
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

/**
 |============================
 | Base styles
 |============================
*/
body {
  font-family: var(--primary-font);
  color: var(--color-slate);
  background-color: var(--color-white);
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* reset end */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid red;
  outline-offset: -1px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  color: var(--color-iris);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-dark {
  color: var(--color-grey);
}
.logo-light {
  color: var(--color-cloud);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header - CSS */

.header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-item {
}

.header-menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--color-ocean);
}

.current {
  color: var(--color-ocean);
}

.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--color-ocean);
  position: absolute;
  left: 0;
  bottom: -1px;
}

.header-adress-link:hover,
.header-adress-link:focus {
  color: var(--color-ocean);
}

/* ADRESS */
.header-adress {
  font-style: normal;
}

.header-adress-menu {
  display: flex;
  gap: 40px;
}

.header-adress-list {
}

.header-adress-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--color-slate);
}

/* INDEX-HTML-SECTION - 1 */

.hero {
  background-color: var(--color-grey);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bgd.jpg);
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 48px;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}
.hero-btn {
  color: #ffffff;
  background-color: var(--color-iris);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-ocean);
}

/* SECTION - 2 */

.benefits {
}

.benefits-menu {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.benefits-box {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--color-cloud);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.benefits-title {
  color: var(--color-navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.benefits-text {
  color: var(--color-slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* SECTION - 3 - */
.desc-section {
  padding-top: 0;
}

.desc-title {
  color: var(--color-navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.desc-menu {
  display: flex;
  gap: 24px;
}

.desc-item {
  width: calc((100% - 48px) / 3);
}

.desc-img {
}

/* SECTION - 4 - */
.team-section {
  background-color: var(--color-cloud);
}

.team-title {
  color: var(--color-navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 24px * 3) / 4);
  background-color: var(--color-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--color-ocean);
}

.team-social-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}

.social-icon {
  fill: var(--color-cloud);
}

.team-img {
}
.team-wrapper {
  padding: 32px 0;
}
.team-sub-title {
  margin-bottom: 8px;

  color: var(--color-navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-text {
  color: var(--color-slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.customers {
  padding: 120px 0;
}

.customers-title {
  color: var(--color-navy-blue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--color-light-slate);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--color-ocean);
  color: var(--color-ocean);
}

.customers-icon {
  fill: currentColor;
}

/* FOOTER  */

.footer-page {
  background-color: var(--color-navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--color-cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--color-green);
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.social-icon {
  fill: var(--color-cloud);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-first-block {
  margin-right: 120px;
}

.footer-social-text {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-second-block {
  margin-right: 80px;
}

.subscribe-text {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subscribe-button {
  color: var(--color-white);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: var(--color-iris);
  border: none;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
}

.subscribe-icon {
  fill: var(--color-white);
  margin-left: 16px;
}

.subscribe-input {
  border-radius: 4px;
  border: 1px solid var(--color-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  background-color: transparent;
  color: var(--color-white);
  font-size: 12px;
  line-height: 1.5; /* 200% */
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

/**
 |============================
 | PORTFOLIO
 |============================
*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-filters {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-filters-item {
}
.portfolio-filters-btn {
  color: var(--color-iris);
  background-color: var(--color-cloud);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--color-cornflower);
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filters-btn:hover,
.portfolio-filters-btn:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.portfolio-cards-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-cards-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards-link:hover,
.portfolio-cards-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* Portfolio cards */
.card {
}
.card-img {
}
.card-title {
  color: var(--color-grey);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.card-text {
  color: var(--color-slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-cloud);
  background: var(--color-iris);
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards-link:hover .overlay-text,
.portfolio-cards-link:focus .overlay-text {
  transform: translateY(0%);
}

.card-wraper {
  padding: 32px 16px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background: var(--color-dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  background-color: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--color-ocean);
  border: none;
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: var(--color-white);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-text {
  color: var(--color-navy-blue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form {
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  color: var(--color-light-slate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-input-box {
  position: relative;
}

.modal-input {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--color-iris);
}

.modal-input:focus + .modal-icon {
  fill: var(--color-iris);
}

.modal-icon {
  fill: var(--color-navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.comment {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: var(--color-iris);
}

.checkbox-field {
  margin-bottom: 24px;
}

.check-field:checked + .modal-check-label .checkbox-empty {
  background-color: var(--color-ocean);
  border: none;
  fill: var(--color-cloud);
}

.check-field:focus + .modal-check-label .checkbox-empty {
  border-color: var(--color-ocean);
}

.visually-hidden {
}

.modal-check-label {
  color: var(--color-light-slate);
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}
.checkbox-empty {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-checkbox {
}
.checkbox-link {
  color: var(--color-iris);
  text-decoration: underline;
}
.modal-button {
  display: block;
  min-width: 169px;
  height: 56px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--color-iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white, #fff);
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border: none;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-ocean);
}
